# =========================
# Backend
# =========================
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/.env
backend/test.db
backend/app/A_LEARNING_FOLDER

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/A_LEARNING_FOLDER

# =========================
# Env files (all locations)
# =========================
.env
*.env.local

# =========================
# Redis
# =========================
dump.rdb

# =========================
# Editor
# =========================
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# OS
# =========================
.DS_Store
Thumbs.dbmarketplace_old/
