langgraph
langsmith
langchain
langchain-core
langchain-groq
langchain-openai
langchain-tavily
langchain-community
langchain-litellm
langchain-text-splitters
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
pageindex
openai
python-dotenv
ipykernel
litellm
numpy
rank_bm25
redis
fastapi[standard]
fastapi-users[sqlalchemy]
uvicorn[standard]
imagekitio
aiosqlite